doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
    <p><button><a href="http://localhost:1337/users">Users</a></button></p>
    <p><button><a href="http://localhost:1337/testSimu">Lancer une simulation</a></button></p>
    <p><button><a href="http://localhost:1337/insertScenarios">insert into database</a></button></p>
